@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --fg-invert: 0 0% 100%;

    --card: 0 0% 100%;
    --card-fg: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-fg: 0 0% 3.9%;

    --secondary: 0 0% 96.1%;
    --secondary-fg: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-fg: 0 0% 45.1%;

    --code: 0 0% 96.1%;
    --code-fg: 0 0% 3.9%;

    --segment: 0 0% 96.1%;
    --segment-fg: 0 0% 45.1%;
    --segment-active: 0 0% 100%;
    --segment-active-fg: 0 0% 3.9%;

    --accent: 0 0% 94.5%;
    --accent-dark: 0 0% 89.8%;
    --accent-fg: 0 0% 9%;

    --primary-light: 180 50% 95%;
    --primary-soft: 180 50% 91.5%;
    --primary-pale: 180 53% 86%;
    --primary: 181 100% 29%;
    --primary-deep: 180 100% 26.5%;
    --primary-dark: 180 100% 24%;

    --destructive-light: 359 100% 97%;
    --destructive-soft: 359 100% 95.5%;
    --destructive-pale: 359 100% 94%;
    --destructive: 360 100% 45%;
    --destructive-deep: 360 100% 42%;
    --destructive-dark: 360 100% 35%;

    --warning-light: 49 90% 95.4%;
    --warning-soft: 49 90% 92.8%;
    --warning-pale: 49 91% 89%;
    --warning: 31 92% 45%;
    --warning-deep: 31 92% 42%;
    --warning-dark: 31 92% 35%;

    --success-light: 143 85% 96%;
    --success-soft: 143 85% 94%;
    --success-pale: 145 92% 91%;
    --success: 140 100% 27%;
    --success-deep: 140 100% 24.8%;
    --success-dark: 140 100% 20.9%;

    --info-light: 208 100% 97%;
    --info-soft: 208 100% 95%;
    --info-pale: 209 95% 92%;
    --info: 210 92% 45%;
    --info-deep: 210 92% 41.5%;
    --info-dark: 210 92% 35%;

    --body: 0 0% 98.3%;
    --button: 0 0% 100%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --ring-accent: 0 0% 60%;
    --ring-focus: 0 0% 80%;

    --radius: 0.5rem;

    --sidebar-bg: 0 0% 98%;
    --sidebar-fg: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-fg: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-fg: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --fg-invert: 0 0% 3.9%;

    --card: 0 0% 3.9%;
    --card-fg: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-fg: 0 0% 98%;

    --secondary: 0 0% 14.9%;
    --secondary-fg: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-fg: 0 0% 63.9%;

    --code: 0 0% 14.9%;
    --code-fg: 0 0% 98%;

    --segment: 0 0% 10%;
    --segment-fg: 0 0% 63.9%;
    --segment-active: 0 0% 20.8%;
    --segment-active-fg: 0 0% 98%;

    --accent: 0 0% 16.9%;
    --accent-dark: 0 0% 20%;
    --accent-fg: 0 0% 98%;

    --primary-light: 189 100% 7%;
    --primary-soft: 187 92% 9%;
    --primary-pale: 187 92% 12%;
    --primary: 179 67% 40%;
    --primary-deep: 175 52% 52%;
    --primary-dark: 175 52% 65%;

    --destructive-light: 358 76% 10%;
    --destructive-soft: 357 89% 13%;
    --destructive-pale: 357 89% 16%;
    --destructive: 358 100% 81%;
    --destructive-deep: 358 100% 85%;
    --destructive-dark: 358 100% 91%;

    --warning-light: 64 100% 6%;
    --warning-soft: 60 100% 9%;
    --warning-pale: 60 100% 12%;
    --warning: 46 87% 65%;
    --warning-deep: 46 87% 72%;
    --warning-dark: 46 87% 78%;

    --success-light: 150 100% 6%;
    --success-soft: 147 100% 9%;
    --success-pale: 147 100% 12%;
    --success: 150 86% 65%;
    --success-deep: 150 86% 72.5%;
    --success-dark: 150 86% 79%;

    --info-light: 215 100% 8.8%;
    --info-soft: 216 100% 12%;
    --info-pale: 216 100% 16%;
    --info: 216 87% 70%;
    --info-deep: 216 87% 73.5%;
    --info-dark: 216 87% 79%;

    --body: 0 0% 6%;
    --button: 0 0% 9%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --ring-accent: 0 0% 50%;
    --ring-focus: 0 0% 25%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-bg: 240 5.9% 10%;
    --sidebar-fg: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-fg: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-fg: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
